body {
  line-height: 1;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  height: 4000px;
}
.custom-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 125%;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.p-product {
  line-height: 14px;
  font-size: 0.75rem;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
